In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/cleaned_dataset.csv")

In [5]:
df

,name,image,link,no_of_ratings,discount_price,actual_price,rating,review_text,brand,cleaned_review_text,sentiment
0,OnePlus Nord CE 2 Lite 5G Blue Tide 6GB RAM 12...,https://m.media-amazon.com/images/I/71AvQd3Vzq...,https://www.amazon.in/OnePlus-Nord-Lite-128GB-...,113956.000000,18999.0,19999.0,1.0,Very bad experience with this device xr phone....,OnePlus,bad experience device xr phone back camera fou...,Negative
1,OnePlus Bullets Z2 Bluetooth Wireless in Ear E...,https://m.media-amazon.com/images/I/51UhwaQXCp...,https://www.amazon.in/Oneplus-Bluetooth-Wirele...,90304.000000,1999.0,2299.0,5.0,Amazing phone with amazing camera coming from ...,OnePlus,amazing phone amazing camera coming device plu...,Positive
2,Samsung Galaxy M33 5G Mystique Green 6GB 128GB...,https://m.media-amazon.com/images/I/81I3w4J6yj...,https://www.amazon.in/Samsung-Mystique-Storage...,24863.000000,15999.0,24999.0,1.0,So I got the device XR just today. The product...,Samsung,got device xr today product look amazing unfor...,Negative
3,OnePlus Nord CE 2 Lite 5G Black Dusk 6GB RAM 1...,https://m.media-amazon.com/images/I/71V--WZVUI...,https://www.amazon.in/OnePlus-Nord-Black-128GB...,113956.000000,18999.0,19999.0,5.0,I've been an android user all my life until I ...,OnePlus,ive android user life decided try device xr io...,Positive
4,Redmi 10 Power Sporty Orange 8GB RAM 128GB Sto...,https://m.media-amazon.com/images/I/81OZGH4fZi...,https://www.amazon.in/Redmi-Power-Sporty-Orang...,625.000000,10999.0,18999.0,1.0,I was delivered a phone that did not work imme...,Redmi,delivered phone work immediately removing box ...,Negative
...,...,...,...,...,...,...,...,...,...,...,...
4849,Sounce HDMI Cable 4K HighSpeed HDMI Cord 18Gbp...,https://m.media-amazon.com/images/I/61KUaE1R97...,https://www.amazon.in/Sounce-High-Speed-Ethern...,49.000000,149.0,249.0,4.0,Dhamaka,Sounce,dhamaka,Positive
4850,ORICO 25 inch USB C Hard Drive Enclosure USB 3...,https://m.media-amazon.com/images/I/61sfwc2UyO...,https://www.amazon.in/ORICO-Enclosure-External...,136.000000,649.0,850.0,4.0,Goodbye,ORICO,goodbye,Positive
4851,Aroma NB119 Carter Pro Bluetooth Wireless In E...,https://m.media-amazon.com/images/I/51qgT9ZuH1...,https://www.amazon.in/NB119-Carter-Bluetooth-A...,50.000000,391.0,2299.0,5.0,Nothing,Aroma,nothing,Positive
4852,ASUS MD100 MarshmallowSilent Adj DPI MultiMode...,https://m.media-amazon.com/images/I/61hXCL4uC7...,https://www.amazon.in/ASUS-MD100-Marshmallow-Q...,13268.051261,1499.0,2999.0,5.0,Superbb,ASUS,superbb,Positive
4853,Crysendo Headphone Cushion Pad Compatible with...,https://m.media-amazon.com/images/I/51ODZvKNuS...,https://www.amazon.in/Crysendo-Headphone-Compa...,231.000000,499.0,849.0,5.0,Nothing,Crysendo,nothing,Positive

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4854 entries, 0 to 4853
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 4854 non-null   object
 1   image                4854 non-null   object
 2   link                 4854 non-null   object
 3   no_of_ratings        4854 non-null   float64
 4   discount_price       4854 non-null   float64
 5   actual_price         4854 non-null   float64
 6   rating               4854 non-null   float64
 7   review_text          4854 non-null   object
 8   brand                4854 non-null   object
 9   cleaned_review_text  4826 non-null   object
 10  sentiment            4854 non-null   object
dtypes: float64(4), object(7)
memory usage: 417.3+ KB

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

name                   0
image                  0
link                   0
no_of_ratings          0
discount_price         0
actual_price           0
rating                 0
review_text            0
brand                  0
cleaned_review_text    0
sentiment              0
dtype: int64

In [9]:
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [10]:
df_cleaned = df.dropna()

In [11]:
df_cleaned.reset_index(drop=True, inplace=True)

In [12]:
print(df_cleaned.isnull().sum())
print(f"Rows before: {len(df)}, Rows after: {len(df_cleaned)}")

name                   0
image                  0
link                   0
no_of_ratings          0
discount_price         0
actual_price           0
rating                 0
review_text            0
brand                  0
cleaned_review_text    0
sentiment              0
dtype: int64
Rows before: 4826, Rows after: 4826

In [13]:
df.columns

Index(['name', 'image', 'link', 'no_of_ratings', 'discount_price',
       'actual_price', 'rating', 'review_text', 'brand', 'cleaned_review_text',
       'sentiment'],
      dtype='object')

In [14]:
df.groupby('sentiment').count()

,name,image,link,no_of_ratings,discount_price,actual_price,rating,review_text,brand,cleaned_review_text
sentiment,,,,,,,,,,
Negative,405,405,405,405,405,405,405,405,405,405
Positive,4421,4421,4421,4421,4421,4421,4421,4421,4421,4421

In [15]:
sentiment_counts = df['sentiment'].value_counts()
print(sentiment_counts)

sentiment
Positive    4421
Negative     405
Name: count, dtype: int64

In [16]:
count = (df['rating'] > 3).sum()
print(f"{count} products have rating more than 3")

4421 products have rating more than 3